@using Ticket.Web.Models
@model Ticket.Web.Models.User

<h1>Insertar Usuario</h1>

<form asp-action="Crear" method="post">
	<div>
		<label>Nombre</label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div>
		<label>Correo</label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div>
		<label>Contraseña</label>
		<input asp-for="Password" class="form-control" />
	</div>
	<div>
		<label>Provincia</label>
		<input asp-for="Province" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
