@using Ticket.Web.Models
@model Ticket.Web.Models.User

<h1>Editar Usuario</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="IdUser" />

    <div>
        <label>Nombre</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label>Correo Electrónico</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label>Contraseña</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div>
        <label>Provincia</label>
        <input asp-for="Province" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar Cambios</button>
</form>
