@using API.Models;
@model Ticket

<h1>Insertar Ticket</h1>

<form asp-action="Crear" method="post">
	<div>
		<label>Id de Evento</label>
		<input asp-for="IdEvent" class="form-control" />
	</div>
	<div>
		<label>Codigo</label>
		<input asp-for="Code" class="form-control" />
	</div>
	<div>
		<label>Status</label>
		<input asp-for="Status" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>