@using Ticket.Web.Models
@model Ticket.Web.Models.Event

<h1>Insertar Evento</h1>

<form asp-action="Crear" method="post">
	<div>
		<label>Categoría del Evento</label>
		<input asp-for="IdEventCategory" class="form-control" />
	</div>
	<div>
		<label>Organizador</label>
		<input asp-for="IdOrganizer" class="form-control" />
	</div>
	<div>
		<label>Descripción</label>
		<input asp-for="Description" class="form-control" />
	</div>
	<div>
		<label>Fecha</label>
		<input asp-for="Date" type="date" class="form-control" />
	</div>
	<div>
		<label>Ubicación</label>
		<input asp-for="Location" class="form-control" />
	</div>
	<div>
		<label>Capacidad</label>
		<input asp-for="Capacity" class="form-control" />
	</div>
	<div>
		<label>Precio</label>
		<input asp-for="Price" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
