@using Ticket.Web.Models
@model Ticket.Web.Models.Organizer


<h1>Insertar Organizador</h1>

<form asp-action="Crear" method="post">
	<div>
		<label>Nombre</label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div>
		<label>Email</label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div>
		<label>Teléfono</label>
		<input asp-for="Phone" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
