@using Ticket.Web.Models
@model Ticket.Web.Models.Organizer


<h1>Editar Organizador</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="IdOrganizer" />

    <div>
        <label>Nombre</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label>Correo Electrónico</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label>Teléfono</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar Cambios</button>
</form>
