@using API.Models;
@model Organizer

<h1>Editar Organizador</h1>

<form asp-action="Editar" method="post">
	<input asp-for="IdOrganizer" type="hidden" /> <!-- Campo oculto para el ID -->
	<div>
		<label>Nombre</label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div>
		<label>Email</label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div>
		<label>Numero de Telefono</label>
		<input asp-for="Phone" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary">Actualizar</button>
</form>